/* You can add global styles to this file, and also import other style files */

.container-principal{
    margin-top: 86px;
    word-spacing:0.1px;
}
.informacion {
    margin-left: 107px !important;
    height: 28px !important;
    width: 457px !important;
    border-radius: 10px !important;
    margin-top: 19px !important;
}
.apolo-button-guardar-foto{
    border-radius: 8px !important;
    background-color: #0082B3;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-family: "telefonicaReg", Arial, Helvetica, sans-serif;
    color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.apolo-cuadriula{
    margin-top: 3px;
    float: left;
    margin-bottom: 15px;
}
.apolo-margen{
    border: 1px solid #0029A6;
    width: 100%;
    padding: 20px;
}
.cuadricula {
    width: 53%;
    margin-left: 20%;
    background-color: #ffffff;
    text-align: left;
    font-family: "telefonica", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    height: auto;
    border: 1px solid #0029A6;
    padding: 15px;
    margin-top: 37px;
    border-radius: 8px;
} 
.boton-crear {
    margin-left: 218px;
    width: 34%;
    margin-top: 20px;
    border-radius: 8px !important;
    background-color: #0082B3;
    font-size: 12px;
    height: 37px;
}
.title-info {
    margin-left: 258px;
}
.require-error {
    margin-top: 10px;
    text-align: center;
    /*text-indent: initial;*/
    color: red;
}
