<div 
  class="container-principal">
  <div  
    class="cuadricula rounded">
      <form 
        [formGroup]="formOrden" 
        (ngSubmit)="consultarInformacion($event)">
          <div class="row">
          <div class="col-sm-2">
            <label class="title-info" for="">Ingrese Información:</label>
          </div>
          <div class="col-sm-6">
            <input 
              type="text" 
              value="" 
              formControlName="infomacion" 
              class="informacion" 
              id=""
              [ngClass]="{ 'is-invalid': submitted && f.infomacion.errors }" 
              placeholder="Ingrese Información">
           </div>
          </div>
          <div 
            *ngIf="submitted && f.infomacion.errors" 
            class="invalid-feedback require-error">
            <div *ngIf="f.infomacion.errors.required">Debe ingresar el numero de orden</div>
          </div>
        <button 
          type="submit" 
          class="boton-crear">Ejecutar
        </button>
        <input 
          *ngIf="inputResultado"
          type="text" 
          value="{{valor}}" 
          formControlName="infomacion" 
          class="informacion" 
          id="" 
          style="margin-bottom: 10px">
      </form>
      <button 
        type="submit" 
        *ngIf="inputResultado"
        class="boton-crear"
        (click)="limpiarFormulario($event)">Limpiar
      </button>
  </div>
</div>